<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Link Validator</title>
  <link rel="stylesheet" type="text/css" href="lib/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="linkValidator">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex></span>
      <h1>Link Validator</h1>
    </div>
  </md-toolbar>

  <div ng-controller="linkCtrl as LinkCtrl" md-theme="default" layout="row" layout-align="center center">
    <div flex="20"></div>

    <md-content class="container" layout-padding layout-align="center center" flex="60">
      <form name="SearchForm">
        <md-input-container class="md-block">
          <input required type="url" placeholder="Enter URL" ng-model="LinkCtrl.SearchURL"/>
        </md-input-container>
        <md-button ng-disabled="SearchForm.$invalid" class="md-primary" layout-align="center center" ng-click="LinkCtrl.printURL()">Find Links</md-button>
      </form>
    </md-content>

    <div flex="20"></div>
  </div>
</body>
<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
<script src="lib/bower_components/angular/angular.min.js"></script>
<script src="lib/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="lib/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="lib/bower_components/angular-route/angular-route.min.js"></script>
<script src="lib/bower_components/angular-material/angular-material.min.js"></script>
<script src="app/app.js"></script>
</html>